<section>
    <h2 class="marvel-font">About</h2>
    <hr>
    <div id="greeting-div">
        <span class="marvel-font" id="greeting">Hello There!</span>
    </div>
    <div id="about-div">
        <p>
            This website is a showcase of my web development skills with
            Angular and Typescript. It is a 'wikipedia-like' website about
            Marvel's superheroes based on the tutorial available on
            <a href="https://angular.io/tutorial/tour-of-heroes" target="_blank">Angular's website</a>!
        </p>
        <p>
            Just like any other wiki, you can contribute with the content
            by adding, editing and deleting heroes!
        </p>
        <p>
            Give it a try!
        </p>
    </div>

</section>
