<section class="loading-page"*ngIf="!loaded">
    <i class="fas fa-circle-notch fa-spin"></i>
</section>
<section *ngIf="hero && !editMode" id="hero-details-section" class="hero-details">
    <div class="hero-name">
        <h2 class="marvel-font">{{hero.alias}} Details</h2>
        <button 
            class="edit-button" 
            title="Edit hero details"
            type="button" 
            (click)="toggleEditMode()"
            >
            <i class="fa fa-edit"></i>
        </button>
    </div>
    <hr>
    <br>
    <div class="hero-content">
        <div class="hero-info">
            <p class="hero-description">
                {{hero.description}}
            </p>
            <hr>
            <h2 class="marvel-font" id="powers-header">Powers</h2>
            <ul class="hero-powers" *ngIf="powersExist">
                <li *ngFor="let power of powers">
                    {{power}}
                </li>
            </ul>
            <p *ngIf="!powersExist">No powers available for this hero...</p>
        </div>
        <aside class="hero-figure">
            <figure>
                <img src="../../assets/heroes-pictures/{{hero.picture}}">
            </figure>
            <div class="profile-header">Alias</div>
            <div class="profile-info">{{hero.alias}}</div>
            <div class="profile-header">Name</div>
            <div class="profile-info">{{hero.name}}</div>
        </aside>
    </div>
</section>

<section *ngIf="hero && editMode" id="edit-hero-details-section" class="hero-details">
    <div class="hero-name hero-name-edit-mode">
        <h2 class="marvel-font">Edit {{hero.alias}} Details</h2>
        <button 
            class="save-button" 
            title="Save changes"
            type="button" 
            (click)="save()"
            >
                <i class="fa fa-check"></i>
                Save Changes
        </button>
    </div>
    <hr>
    <br>
    <div class="hero-content">
        <div class="hero-info">
            <p><strong>Name:&nbsp;</strong><input type="text" [(ngModel)]="hero.name" value="{{hero.name}}"/></p>
            <br>
            <p><strong>Alias:&nbsp;</strong><input type="text" [(ngModel)]="hero.alias" value="{{hero.alias}}"/></p>
            <p class="hero-description">
                <strong>Bio: </strong>
                <br>
                <textarea [(ngModel)]="hero.description" value="{{hero.description}}"></textarea>
            </p>
            <p><strong>Powers:&nbsp;</strong><input type="text"  [(ngModel)]="powers" value="{{powers}}" placeholder="Separe powers with commas"/></p>

        </div>
        <aside class="hero-figure">
            <figure>
                <img src="../../assets/heroes-pictures/{{hero.picture}}">
            </figure>
            <div class="profile-header">Alias</div>
            <div class="profile-info">{{hero.alias}}</div>
            <div class="profile-header">Name</div>
            <div class="profile-info">{{hero.name}}</div>
        </aside>
    </div>
</section>
<div class="comment-section" *ngIf="hero">
    <form (ngSubmit)="onSubmitComment()" class="comment-form">
        <textarea class="comment-textarea" placeholder="Leave your anonymous comment..." [(ngModel)]="commentModel.comment" name="comment" required></textarea>
        <button
            class="save-button" 
            title="Post comment"
            type="submit" 
        >
            <i class="fa fa-check"></i>
            Post
        </button>
    </form>
    <hr>
    <h2 class="marvel-font comment-header">Comments ({{comments.length}})</h2>
    <br>
    <ul class="comment-list">
        <li class="comment-component" *ngFor="let comment of comments">
            <div class="comment-info">
                <h3 class="comment-username">{{comment.username}}</h3>
                <span class="comment-datetime">{{comment.dateTime}}</span>
            </div>
            <p class="comment-content">{{comment.comment}}</p>
            <ul class="comment-actions">
                <li class="comment-upvote action"><button type="button" (click) = "voteComment(comment.id, true)" id="upvotes-{{comment.id}}" class="unvoted">{{comment.upVotes}}&nbsp;<i class="fa fa-thumbs-up"></i></button></li>
                <li class="comment-downvote action"><button type="button"  (click) = "voteComment(comment.id, false)" id="downvotes-{{comment.id}}" class="unvoted">{{comment.downVotes}}&nbsp;<i class="fa fa-thumbs-down"></i></button></li>
                <!--
                <li class="comment-show-replies-button action"><button type="button">Replies<i class="fa fa-level-down"></i> </button></li>
                -->
            </ul>
        </li>
    </ul>

</div>
