#hero-details-section{
    padding: 10px 10em 10px 10em;
    min-height: fit-content !important;
}

.hero-details span,
.hero-details p{
    font-size: 18px;
}
.hero-info {
    width: 100%;
    height: 100%;
    padding-right: 5em;
}
.hero-name{
    padding:10px;
    display: flex;
}
.hero-name-edit-mode{
    justify-content: space-between;
}
.edit-button{
    color: darkred;
    background-color: inherit;
    margin:0 0 0 10px;
    padding: 5px;
}
.save-button{
    color: white;
    background-color: rgb(39, 219, 84);
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding:10px;
}

.edit-button:hover {
    background-color: lightgray;
}
.hero-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.hero-description{
    text-align: justify;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
input {
    width: 80%;
}
input,
textarea {
    font-family: sans-serif;
    border: solid 1px rgb(209, 167, 167);
    border-radius: 5px 5px 5px;
    border: solid 1px gray;
    border-left: solid 3px darkred;
    padding: 5px;
    height: 30px;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: rgb(253, 52, 52);
}
textarea {
    text-align: justify;
    width: 100%;
    min-height: 500px;
    height: 100%;
    padding: 5px;
    resize: none;
}
aside {
    background-color:  lightgray;
    min-width: 350px;
    width: 50em;
    min-height: fit-content;
    height: 100%;
}
.profile-header,
.profile-info {
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile-header {
    padding-top: 5px;
    background-color: darkgrey;
    font-style: italic;
    font-family: "Marvel";
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
}
.profile-info {
    background-color: lightgray;
}
#powers-header {
    padding: 10px 0;
}
ul {
    margin-left: 15px;
}
li {
    color: black;
    font-size: 20px;
    list-style-type: circle;
}

.hero-figure{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}
figure img {
    max-height: 40em;
    max-width: 80%;
}
.comment-section{
    padding: 10px 10em 10px 5em;
}
.comment-textarea {
    min-height: 80px;
    margin-bottom: 10px; 
}
.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom:10px;
}
.comment-header {
    padding-top: 10px;
    font-family: "Marvel", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.comment-list,
.no-comments-div {
    display: flex;
    flex-direction: column-reverse;
    background-color: whitesmoke;
    margin:0;
}
.no-comments-div {
    height: 100px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color:gray;
}
.comment-component {
    list-style: none;
    padding: 10px;
    border-bottom: solid 1px darkgray;
}
.comment-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.comment-username {
    font-weight: bold;
}
.comment-datetime {
    font-size: 15px;
    font-style: italic;
    color:gray;
    font-weight: lighter;
}
.comment-content {
    padding: 10px 10px 0 10px;
    font-style: italic;
    
}
.comment-component button,
.unvoted{
    background-color: inherit;
    padding: 5px;
    color: gray;
    font-style: italic;
    font-family: sans-serif;
}
.voted i {
    padding: 5px;
    color: darkred;
}
.comment-component button:hover {
    background-color: rgb(209, 208, 208);
}
.comment-actions {
    list-style: none;
    display: flex;
}
.action {
    list-style: none;
}
@media screen and (max-width: 1130px) {
    #hero-details-section,
    #edit-hero-details-section {
        padding: 10px 1em;
        height: fit-content;
    }
    .hero-description{
        width: 100%;
    }
    .hero-info{
        padding-right: 0;
        margin-bottom: 10px;
    }
    .hero-content{
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    aside{
        width: 100%;
    }
    .comment-section{
        padding: 10px 5em 10px 3em;
    }
}
@media screen and (max-width: 650px) {
    .comment-info{
        flex-direction: column;
        align-items: flex-start;
    }
}