<section *ngIf="hero" id="hero-details-section" class="hero-details">
    <div class="hero-name">
        <h2 class="marvel-font">{{hero.alias}} Details</h2>
    </div>
    <hr>
    <br>
    <div class="hero-content">
        <div>
            <p><strong>Name:&nbsp;</strong>{{hero.name}}</p>
            <br>
            <p><strong>Alias:&nbsp;</strong>{{hero.alias}}</p>
            <p class="hero-description">
                <strong>Bio: </strong>
                {{hero.description}}
            </p>
        </div>
        <aside class="hero-figure">
            <figure>
                <img src="../../assets/heroes-pictures/{{hero.picture}}">
                <figcaption>{{hero.alias}}</figcaption>
            </figure>
        </aside>
    </div>
</section>

