#hero-details-section{
    padding: 10px 10em 10px 10em;
}

.hero-details span,
.hero-details p{
    font-size: 18px;
}
.hero-name{
    padding:10px;
}
.hero-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.hero-description{
    text-align: justify;
    width: 90%;
    padding: 10px 0px 10px 0px;

}
aside {
    background-color:  lightgray;
    min-width: 400px;
    width: 50em;
    height: 100%;
}
.hero-figure{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}
figure img {
    max-height: 50em;
}
figcaption {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}
@media screen and (max-width: 1130px) {
    #hero-details-section {
        padding: 10px 1em;
    }
    .hero-description{
        width: 100%;
    }
    .hero-content{
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
}