#hero-details-section{
    padding: 10px 10em 10px 10em;
}

.hero-details span,
.hero-details p{
    font-size: 18px;
}
.hero-info {
    width: 100%;
    height: 100%;
    padding-right: 5em;
}
.hero-name{
    padding:10px;
    display: flex;
}
.hero-name-edit-mode{
    justify-content: space-between;
}

.save-button{
    color: white;
    background-color: rgb(39, 219, 84);
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding:10px;
}

.edit-button:hover {
    background-color: lightgray;
}
.hero-content{
    width: 100%;

    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    */

}
.hero-description{
    text-align: justify;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
input {
    width: 80%;
}
input,
textarea {
    font-family: sans-serif;
    border: solid 1px rgb(209, 167, 167);
    border-radius: 5px 5px 5px;
    outline: none;
    padding: 2px;
}

input:focus,
textarea:focus {
    border-color: rgb(253, 52, 52);
}
textarea {
    text-align: justify;
    width: 100%;
    min-height: 500px;
    height: 100%;
    padding: 5px;
    resize: none;
}
aside {
    background-color:  lightgray;
    min-width: 400px;
    width: 50em;
    height: 100%;
}
.hero-figure{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}
figure img {
    max-height: 50em;
    max-width: 80%;
}
figcaption {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}
@media screen and (max-width: 1130px) {
    #hero-details-section {
        padding: 10px 1em;
    }
    .hero-description{
        width: 100%;
    }
    .hero-info{
        padding-right: 0;
    }
    .hero-content{
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
}