<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute, top;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(59, 53, 53);
    color: white;
    font-weight: 600;
    opacity: 100%;
  }

  .toolbar img {
    margin-left: 16px;
    margin-right: 5px;
    opacity: 60%;
  }

  .toolbar #github-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #linkedin-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #github-logo:hover,
  .toolbar #linkedin-logo:hover {
    opacity: 0.8;
  }
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
    display: flex;
    justify-content:  center;
  }

  a:hover {
    color: #125699;
  }
  i {
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
  }

  footer {
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 20px;
    width: 100%;
    background-color:  rgb(207, 16, 16);
    color: white;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    
  }

  @media screen and (max-width: 575px) {
    
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="26"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span class="marvel-font" id="toolbar-text">Made with Angular</span>
  <div class="spacer"></div>
  <a aria-label="My GitHub" target="_blank" rel="noopener" href="https://github.com/v1n1c1u" title="GitHub">
    <i class="fa-brands fa-github" id="github-logo"></i>
  </a>
  <a aria-label="My LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/in/vinicius-abner/" title="LinkedIn">
    <i id="linkedin-logo" class="fa-brands fa-linkedin"></i>
  </a>
</div>

<div class="content" role="main">
  <div class="page-header">
    <div class="header-img"></div>
    <div class="header-text"><h1 class="marvel-font">Tour Of Heroes</h1></div>
  </div>
  <app-navbar></app-navbar>
  <div id="content-div">
    <router-outlet></router-outlet>
  </div>
  <footer>
    &#169; Vinícius Souza {{currentYear}}
  </footer>

</div>