/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Marvel";
    src: url('./assets/fonts/marvel/Marvel-Regular.ttf');
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}
h2 {
    font-size: 30px;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-weight: lighter;
}
body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}
button {
    background-color: darkred;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
button:hover {
    background-color: rgb(141, 23, 23);
    color: white;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
section {
    padding: 10px 10em 10px 10em;
    margin-top: 10px;
    min-height: fit-content;
    height:800px;
}
.marvel-font{
    font-family: "Marvel";
    text-transform: uppercase;
    letter-spacing: 3px;
}
.header-img {
    height: 800px;
    background-image: url('./assets/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
    overflow: hidden;
}
.header-text {
    background-color: rgb(207, 16, 16);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: fit-content;
    padding: 20px 20px 0px 20px;
    text-align: center;
    overflow: hidden;
}
.page-header {
    background-color: rgb(58, 47, 47);
    position: relative;
    width: 100%;
}
#toolbar-text {
    font-size: 20px;
    color: rgb(104, 96, 96);
}
@media screen and (max-width: 1130px) {
    .header-text {
        width: 550px;
        padding: 20px 0px 0px 0px;
    }
    section {
        padding: 10px 1em;
        height: 50em;
    }
}
@media screen and (max-width: 600px){
    .header-text {
        width: fit-content;
        padding: 0px 20px;
    }
    .header-text h1 {
        font-size: 100px;
    }
    .header-img {
        height: 50em;
    }

}
/* everywhere else */
* {
font-family: Arial, Helvetica, sans-serif;
}
