<section id="heroes-list">
    <h2 class="marvel-font">Heroes List</h2>
    <hr>
    <br>
    <ul class="heroes">
        <li *ngFor="let hero of heroes">
            <button type="button" class="li-button">
                <span class="badge">{{hero.id}}</span>
                <a routerLink="/detail/{{hero.id}}" class="name">{{hero.alias}}</a>
            </button>
        </li>
    </ul>
    <!--
    <div *ngIf="selectedHero">
        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div>id: {{selectedHero.id}}</div>
        <div>
            <label for="hero-name">Hero name: </label>
            <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
        </div>
    </div>
    -->
</section>
