<section id="heroes-list">
    <h2 class="marvel-font">Heroes List</h2>
    <hr>
    <br>
    <ul class="heroes">
        <li *ngFor="let hero of heroes">
            <button type="button" class="li-button">
                <span class="badge">{{hero.id}}</span>
                <a routerLink="/heroes/details/{{hero.id}}" class="name">{{hero.alias}}</a>
                <button 
                    type="button" 
                    class="delete-button" 
                    title="Delete hero"
                    (click)="openDialog(hero)">
                    <i class="fa fa-trash"></i>
                </button>
            </button>
        </li>
    </ul>
    <div class="add-hero-button-div">
        <button class="add-hero-button">
            <a routerLink="/heroes/new">
                <i class="fa fa-plus"></i>
                &nbsp;Add Hero
            </a>
        </button>
    </div>
</section>
