/* HeroSearch private styles */
section {
    background-color: whitesmoke;
    margin-top: 0;
    height: 100%;
}
h2 {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    width: 100%;
}
.searchbar{
    display: flex;
}
.search-icon {
    border: solid 2px darkred;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 50px 0px 0px 50px;
    border-right: hidden;
}
input {
    padding: .5rem;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: block;
    border-radius: 0px 50px 50px 0px;
    position: relative;
    border-top-color: red;
    border-left:hidden;
    border-bottom-color: darkred;
    border-right-color: darkred;
    overflow: hidden;
    display: block;
    padding: 9px 4px 9px 0px;
    outline: none;
}

#search-component {
    height: 20em;
}


li {
    list-style-type: none;
}
.search-result li a {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: inline-block;
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: gray;
    background-color: whitesmoke;
}

.search-result li a:hover {
    background-color: darkred;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    margin-right:25px;
    margin-left: 25px;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}

ul.search-result {
    margin-top: 0;
    padding-left: 0;
}